
build --sandbox_default_allow_network=false
build --incompatible_strict_action_env
build --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

build --cxxopt=-std=c++23
build --copt=-Wall
build --copt=-Wextra
build --copt=-Wpedantic
build --copt=-Werror

build:lint --aspects=//tools:linters.bzl%clang_tidy

build:use_sanitizer --copt=-O1
build:use_sanitizer --copt=-fno-omit-frame-pointer

build:asan --config=use_sanitizer
build:asan --copt=-fsanitize=address
build:asan --linkopt=-fsanitize=address

build:msan --config=use_sanitizer
build:msan --copt=-fsanitize=memory
build:msan --linkopt=-fsanitize=memory

build:ubsan --config=use_sanitizer
build:ubsan --copt=-fsanitize=undefined
build:ubsan --linkopt=-fsanitize=undefined
build:ubsan --linkopt=-fsanitize-link-c++-runtime

build:tsan --config=use_sanitizer
build:tsan -c dbg
build:tsan --copt=-fsanitize=thread
build:tsan --linkopt=-fsanitize=thread

build:tysan --config=use_sanitizer
build:tysan --copt=-fsanitize=type
build:tysan --linkopt=-fsanitize=type


coverage --combined_report=lcov
