---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  -clang-analyzer-osx-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length
WarningsAsErrors: ''
HeaderFileExtensions:
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
ExcludeHeaderFilterRegex: '^.*/external/.*$'
FormatStyle:     google
CheckOptions:    {}
SystemHeaders:   false
UseColor: true
...
